# Esercitazione Finale Python
## Analisi diffusione COVID-19 nel mondo
Il committente richiede di avere un report su casi e vaccinazioni in diverse aree del mondo; a tal fine, richiede di utilizzare il dataset, curato da Our World in Data, all'indirizzo https://github.com/owid/covid-19-data/tree/master/public/data;
alla voce "ðŸ—‚ Download our complete COVID-19 dataset" scaricare il dataset in formato CSV oppure in formato JSON.

* Si richiede di verificare le dimensioni del dataset e le diciture presenti nell'intestazione

* Si chiede poi per ogni continente di trovare il numero di casi totali avvenuti in quello stesso continente; si chiede di non considerare eventuali locazioni che nel dataset non appartengono ad alcun continente.

* Sempre riguardo i casi di COVID totali, si chiede di sviluppare una funzione che prenda in input il dataset e due nomi di continenti, e che ne confronti i seguenti relativi descrittori statistici: valori minimo e massimo, media, e percentuale rispetto al numero dei casi totali nel mondo (in questo caso calcolati anche sulle locazioni senza indicazione di continente).

* Si chiede poi di effettuare lo stesso tipo di analisi â€“ anche in questo caso sviluppando una funzione ad hoc â€“ per il numero di vaccinazioni totali per ogni continente.

* Alla fine, basandosi sui calcoli fatti, il committente chiede di stilare un breve (tre o quattro righe) paragrafo testuale riassuntivo sulle statistiche di casi e vaccinazioni, che si concentri solo sulle differenze esistenti tra Europa, Sud America e Oceania.

Per effettuare le analisi si potranno usare, a scelta, strumenti come funzioni e strutture dati built-in quali open(), liste, dizionari; moduli built-in quali csv o json; moduli esterni quali Pandas e i relativi metodi e tipi di dato.

## Punto 1:
Per prima cosa importo la libreria di Pandas e il dataset da utilizzare.

In [1]:
import pandas as pd

df = pd.read_csv(r"https://covid.ourworldindata.org/data/owid-covid-data.csv", low_memory=False)

Successivamente verifico le dimensioni del file, le diciture presenti nell'intestazione e le prime 5 righe del dataset.

In [2]:
df.shape

(313070, 67)

In [3]:
intestazione = list(df.columns)
print(intestazione)

['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases', 'new_cases_smoothed', 'total_deaths', 'new_deaths', 'new_deaths_smoothed', 'total_cases_per_million', 'new_cases_per_million', 'new_cases_smoothed_per_million', 'total_deaths_per_million', 'new_deaths_per_million', 'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients', 'icu_patients_per_million', 'hosp_patients', 'hosp_patients_per_million', 'weekly_icu_admissions', 'weekly_icu_admissions_per_million', 'weekly_hosp_admissions', 'weekly_hosp_admissions_per_million', 'total_tests', 'new_tests', 'total_tests_per_thousand', 'new_tests_per_thousand', 'new_tests_smoothed', 'new_tests_smoothed_per_thousand', 'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations', 'people_vaccinated', 'people_fully_vaccinated', 'total_boosters', 'new_vaccinations', 'new_vaccinations_smoothed', 'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred', 'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred', 'new_vaccinations_smoothed_per_million', 'new_people_vaccinated_smoothed', 'new_people_vaccinated_smoothed_per_hundred', 'stringency_index', 'population_density', 'median_age', 'aged_65_older', 'aged_70_older', 'gdp_per_capita', 'extreme_poverty', 'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers', 'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand', 'life_expectancy', 'human_development_index', 'population', 'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative', 'excess_mortality', 'excess_mortality_cumulative_per_million']

In [4]:
df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-04,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 313070 entries, 0 to 313069
Data columns (total 67 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   iso_code                                    313070 non-null  object
 1   continent                                   298214 non-null  object
 2   location                                    313070 non-null  object
 3   date                                        313070 non-null  object
 4   total_cases                                 277045 non-null  float64
 5   new_cases                                   304385 non-null  float64
 6   new_cases_smoothed                          303121 non-null  float64
 7   total_deaths                                256295 non-null  float64
 8   new_deaths                                  304452 non-null  float64
 9   new_deaths_smoothed                         303222 non-null  float64
 10  total_cases_per_million                     277045 non-null  float64
 11  new_cases_per_million                       304385 non-null  float64
 12  new_cases_smoothed_per_million              303121 non-null  float64
 13  total_deaths_per_million                    256295 non-null  float64
 14  new_deaths_per_million                      304452 non-null  float64
 15  new_deaths_smoothed_per_million             303222 non-null  float64
 16  reproduction_rate                           184817 non-null  float64
 17  icu_patients                                36103 non-null   float64
 18  icu_patients_per_million                    36103 non-null   float64
 19  hosp_patients                               36880 non-null   float64
 20  hosp_patients_per_million                   36880 non-null   float64
 21  weekly_icu_admissions                       9484 non-null    float64
 22  weekly_icu_admissions_per_million           9484 non-null    float64
 23  weekly_hosp_admissions                      21913 non-null   float64
 24  weekly_hosp_admissions_per_million          21913 non-null   float64
 25  total_tests                                 79387 non-null   float64
 26  new_tests                                   75403 non-null   float64
 27  total_tests_per_thousand                    79387 non-null   float64
 28  new_tests_per_thousand                      75403 non-null   float64
 29  new_tests_smoothed                          103965 non-null  float64
 30  new_tests_smoothed_per_thousand             103965 non-null  float64
 31  positive_rate                               95927 non-null   float64
 32  tests_per_case                              94348 non-null   float64
 33  tests_units                                 106788 non-null  object
 34  total_vaccinations                          75150 non-null   float64
 35  people_vaccinated                           71979 non-null   float64
 36  people_fully_vaccinated                     68501 non-null   float64
 37  total_boosters                              43764 non-null   float64
 38  new_vaccinations                            61836 non-null   float64
 39  new_vaccinations_smoothed                   168651 non-null  float64
 40  total_vaccinations_per_hundred              75150 non-null   float64
 41  people_vaccinated_per_hundred               71979 non-null   float64
 42  people_fully_vaccinated_per_hundred         68501 non-null   float64
 43  total_boosters_per_hundred                  43764 non-null   float64
 44  new_vaccinations_smoothed_per_million       168651 non-null  float64
 45  new_people_vaccinated_smoothed              168512 non-null  float64
 46  new_people_vaccinated_smoothed_per_hundred  168512 non-null  float64
 47  stringency_index                            197651 non-null  float64
 48  population_density                          265699 non-null  float64
 49  median_age                                  247090 non-null  float64
 50  aged_65_older                               238463 non-null  float64
 51  aged_70_older                               244614 non-null  float64
 52  gdp_per_capita                              242177 non-null  float64
 53  extreme_poverty                             155992 non-null  float64
 54  cardiovasc_death_rate                       242612 non-null  float64
 55  diabetes_prevalence                         255000 non-null  float64
 56  female_smokers                              181990 non-null  float64
 57  male_smokers                                179514 non-null  float64
 58  handwashing_facilities                      118850 non-null  float64
 59  hospital_beds_per_thousand                  214178 non-null  float64
 60  life_expectancy                             287944 non-null  float64
 61  human_development_index                     235192 non-null  float64
 62  population                                  313070 non-null  float64
 63  excess_mortality_cumulative_absolute        10669 non-null   float64
 64  excess_mortality_cumulative                 10669 non-null   float64
 65  excess_mortality                            10669 non-null   float64
 66  excess_mortality_cumulative_per_million     10669 non-null   float64
dtypes: float64(62), object(5)
memory usage: 160.0+ MB

## Punto 2:
Calcolo ora il numero di casi totali avvenuti in quello stesso continente:

In [6]:
df = df.dropna(subset=["continent"])

""" VerrÃ  utilizzato questo df anche per i punti 3 e 4."""

somma_continente = df.groupby("continent")["new_cases"].sum()
casi_globali = df['new_cases'].sum()

print(somma_continente)

continent
Africa            13089145.0
Asia             297460760.0
Europe           249444178.0
North America    124187478.0
Oceania           14123192.0
South America     68612891.0
Name: new_cases, dtype: float64

## Punto 3:
Sviluppo di una funzione per calcolare le metriche di minimo, massimo e media di due continenti e confronto tra casi totali per continente e totale mondiale. Nel print ho utilizzato il "df" con il "dropna" perchÃ¨ prendendo in considerazione i "Nan" i dati non mi sembravano veritieri.

In [45]:
def confronta_descrittori_casi(dataset, continente1, continente2):
    df_continente1 = dataset[dataset['continent'] == continente1]
    df_continente2 = dataset[dataset['continent'] == continente2]

    descrittori_continente1 = df_continente1['new_cases'].agg(['min', 'max', 'mean'])
    descrittori_continente2 = df_continente2['new_cases'].agg(['min', 'max', 'mean'])

    totale_mondiale = dataset['new_cases'].sum()
    percentuale_continente1 = (df_continente1['new_cases'].sum() / totale_mondiale) * 100
    percentuale_continente2 = (df_continente2['new_cases'].sum() / totale_mondiale) * 100

    risultati_casi = pd.DataFrame({
        'Continente': [continente1, continente2],
        'Minimo': [descrittori_continente1['min'], descrittori_continente2['min']],
        'Massimo': [descrittori_continente1['max'], descrittori_continente2['max']],
        'Media': [descrittori_continente1['mean'], descrittori_continente2['mean']],
        'Percentuale rispetto al totale mondiale': [percentuale_continente1, percentuale_continente2]
    })

    return risultati_casi

In [46]:
x = confronta_descrittori_casi(df, "Europe", "Asia")
print(x)

  Continente  Minimo    Massimo        Media  \
0     Europe     0.0   500563.0  3953.657801
1       Asia     0.0  6966046.0  5117.076259

   Percentuale rispetto al totale mondiale
0                                32.525550
1                                38.786532

## Punto 4

In [43]:
def confronta_descrittori_vaccini(dataset, continente1, continente2):
    df_continente1 = dataset[dataset['continent'] == continente1]
    df_continente2 = dataset[dataset['continent'] == continente2]

    descrittori_continente1 = df_continente1['new_vaccinations'].agg(['min', 'max', 'mean'])
    descrittori_continente2 = df_continente2['new_vaccinations'].agg(['min', 'max', 'mean'])

    totale_mondiale = dataset['new_vaccinations'].sum()
    percentuale_continente1 = (df_continente1['new_vaccinations'].sum() / totale_mondiale) * 100
    percentuale_continente2 = (df_continente2['new_vaccinations'].sum() / totale_mondiale) * 100

    risultati_vaccinazioni = pd.DataFrame({
        'Continente': [continente1, continente2],
        'Minimo': [descrittori_continente1['min'], descrittori_continente2['min']],
        'Massimo': [descrittori_continente1['max'], descrittori_continente2['max']],
        'Media': [descrittori_continente1['mean'], descrittori_continente2['mean']],
        'Percentuale rispetto al totale mondiale': [percentuale_continente1, percentuale_continente2]
    })

    return risultati_vaccinazioni

In [44]:
y = confronta_descrittori_vaccini(df, "Europe", "Asia",)
print(y)

  Continente  Minimo     Massimo          Media  \
0     Europe     0.0   2389472.0   59940.289233
1       Asia     0.0  24741000.0  509783.344320

   Percentuale rispetto al totale mondiale
0                                11.667095
1                                69.591868

## Punto 5

Per elaborare una piccola analisi riassuntiva sulle statistiche di casi e vaccinazioni, che si concentri solo sulle differenze esistenti tra Europa, Sud America e Oceania, utilizzerÃ² le funzioni e il df dei punti precedenti.

In [48]:
z = confronta_descrittori_casi(df, "South America", "Oceania")
print(z)
w = confronta_descrittori_vaccini(df, "South America", "Oceania",)
print(w)

      Continente  Minimo   Massimo        Media  \
0  South America     0.0  298408.0  3963.771866
1        Oceania     0.0  588813.0   475.400296

   Percentuale rispetto al totale mondiale
0                                 8.946579
1                                 1.841553
      Continente  Minimo    Massimo          Media  \
0  South America     1.0  3976605.0  150541.749688
1        Oceania     1.0   351226.0   56859.011442

   Percentuale rispetto al totale mondiale
0                                 7.774235
1                                 0.687285

Confrontando i dati relativi ai casi di COVID-19 e alle vaccinazioni nei continenti Europa, Sud America e Oceania, emergono differenze significative.

Nel continente Europa, si osserva che la situazione dei casi totali presenta un range ampio, con un numero minimo di casi pari a 0 e un massimo giornaliero di 500563 casi, mentre la media si attesta a 3953.65 casi. L'Europa rappresenta il 32.52% dei casi totali nel mondo, indicando una diffusione considerevole del virus nella regione. 

Riguardo alle vaccinazioni, si registra un minimo di 0 dosi amministrate e un massimo giornaliero di 2389472. La media delle vaccinazioni risulta essere di 59940.28. L'Europa contribuisce al 11.667% delle vaccinazioni totali nel mondo, indicando un impegno significativo nella campagna di immunizzazione.

Nel continente Sud America, si osserva una situazione simile a quella europea per quanto riguarda i casi totali, con un numero minimo di casi pari a 0 e un massimo giornaliero di 298408. La media dei casi si attesta a 3963.77. La percentuale dei casi totali del Sud America rispetto al totale mondiale Ã¨ del 8.94%. Riguardo alle vaccinazioni, si registra un minimo di zero dosi amministrate e un massimo giornaliero di 3,976,605.0. La media delle vaccinazioni risulta essere di 150541.74. Il Sud America contribuisce al 7.77% delle vaccinazioni totali nel mondo, evidenziando un impegno significativo nella campagna di immunizzazione simile a quello dell'Europa.

Nell'Oceania, la situazione dei casi totali presenta un range che parte da zero, arrivando a un massimo giornaliero di 588813. La media dei casi si attesta a 475.40. L'Oceania rappresenta l'1.84% dei casi totali nel mondo, evidenziando una diffusione relativamente contenuta del virus nella regione. Per quanto riguarda le vaccinazioni, si registra un minimo di zero dosi amministrate e un massimo giornaliero di 351226. La media delle vaccinazioni risulta essere di 56859.01. L'Oceania contribuisce allo 0.68% delle vaccinazioni totali nel mondo, indicando un'impostazione diversa rispetto alle altre regioni, forse influenzata dalla minore diffusione del virus.

Complessivamente, i dati evidenziano differenze significative nella diffusione del virus e nell'implementazione delle campagne di vaccinazione tra Europa, Sud America e Oceania. L'Europa e il Sud America si trovano in una situazione simile in termini di casi e vaccinazioni, con una maggiore diffusione del virus e un impegno significativo nella vaccinazione rispetto all'Oceania, dove i casi e le vaccinazioni sono relativamente meno diffusi.